<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Post</h1>
    {% for post in object_list %}
    <li>
    <a href="{% url 'articaldetail' post.pk %}">{{post.title}}</a>
    {{post.author.first_name}}
    {{post.author.last_name}} | {{post.author.email}}<br>
    {{post.body}}
    </li>
    {% endfor %}
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt atque consectetur enim sed tenetur voluptatem! Error expedita inventore doloribus dolore sit tempore quisquam non ea quos eos. Vel, dolorum repellendus?
</body>
</html>